.header {
    padding: 1rem;
    border-bottom: 1px solid var(--color-text-light);
    font-weight: 600;
    color: var(--color-text);
}

.main {
    padding: 1rem;
}

.list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin-bottom: 32px;
}

@media (min-width: 768px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (min-width: 1024px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 60px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    padding: 20px;
}
