.header {
    padding: 1rem;
    border-bottom: 1px solid var(--color-text-light);
    font-weight: 600;
}

.main {
    padding: 1rem;
}

.list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

@media (min-width: 48rem) {
    .list {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem;
    }
}

@media (min-width: 64rem) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
}

.buttonContainer {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.noData {
    text-align: center;
    padding: 3rem 1rem;
    color: var(--color-text-light);
}
